#dive2 .profphot01 .prohead>img {
    height: auto;
}

@media screen and (max-width: 800px) {
    ul.nav li.home {
        background: #183883;
        color: #ffffff;
        padding: 0 13px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
    }
    ul.nav li.home:hover {
        color: #e1c993;
        padding: 0 13px;
    }

    ul.nav:has(>#att) li:hover > ul li a:hover {
        color: #e1c993;
    }

    ul.nav:has(>#att) {
        display: none;
    }

    a.toggleMenu {
        display: inline-block;
    }

    ul.nav:has(>#att) li:hover>ul {
        display: block !important;
    }
}